<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="rek.remindme" android:versionName="1.4.5" android:installLocation="auto" android:versionCode="16">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:allowBackup="true" android:label="@string/app_name" android:icon="@mipmap/ic_launcher">
		<receiver android:name="BootReceiver" />
		<receiver android:name="ReminderAlarmReceiver" />
	</application>
</manifest>